
html{
    background-image: url(images/index_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
}
h3{
    color: rgb(255, 255, 255);
    font-weight: 750;
    font-size: 30px;
    text-align: center;
}

table{
    width: 100%;
    align-content: center;
    padding: 30px;
    margin-left: 40px;
}

td{
    width: 25%;
    padding: 20px;
    align-content: center;
}

div{
    background-color: hsl(204, 67%, 92%);
    width: 60%;
    height: 80%;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 10px 20px hsl(240, 1%, 34%);

}

a{
    text-decoration: none;
}

a:hover{
    opacity: .5;
}

a:active{
    color: rgb(26, 95, 223);
    text-shadow: 3px;
}

img{
    margin-top: 15px;
    border-radius: 15px;
}
