@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --primary-dark-blue: hsl(240, 38%, 20%);
  --primary-gray-blue: hsl(240, 18%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

button:focus {
  outline: none;
}

.testimonials {
  position: relative;
}

.testimonials::after {
  background-image: url(../images/pattern-curve.svg);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  content: '';
  height: 75px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.slider {
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 325px;
  min-height: 667px;
  padding-top: 39px;
}

.slider::before {
  background: url(../images/pattern-quotes.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 250px;
  content: '';
  height: 60px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.slider-nav {
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 15px 25px -8px hsla(240, 38%, 20%, 0.2);
  display: flex;
  justify-content: space-between;
  left: 50%;
  -moz-box-shadow: 0px 15px 25px -8px hsla(240, 38%, 20%, 0.2);
  padding: 10px 10px;
  position: absolute;
  top: 290px;
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 15px 25px -8px hsla(240, 38%, 20%, 0.2);
  width: 80px;
  z-index: 10;
}

.slider-nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.slider-nav button:hover .slider-btn, .slider-nav button:focus .slider-btn {
  stroke: var(--primary-gray-blue);
}   

.slide {
  align-items: center;
  display: none;
  flex-direction: column;
  margin: 16px auto;
  max-width: 310px;
  width: 100%;
  z-index: 5;
}

.slide.active {
  display: flex;
}

.slide img {
  border-radius: 5px;
  box-shadow: 0px 25px 30px -10px hsla(240, 38%, 20%, 0.4);
  margin-bottom: 80px;
  max-width: 255px;
  -moz-box-shadow: 0px 25px 30px -10px hsla(240, 38%, 20%, 0.4);
  -webkit-box-shadow: 0px 25px 30px -10px hsla(240, 38%, 20%, 0.4);
  width: 100%;
}

.slide-content {
  text-align: center;
}

.quote {
  color: var(--primary-dark-blue);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.role, .name {
  font-size: 14px;
  line-height: 22px;

}

.role {
  color: var(--primary-gray-blue);
  font-weight: 500;
}

.name {
  color: var(--primary-dark-blue);
  font-weight: 700;
  margin-top: 16px;
}

.fade {
  animation-duration: .7s;
  animation-name: fade;
  -webkit-animation-duration: .7s;
  -webkit-animation-name: fade;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (min-width: 768px) {

  .testimonials::after {
    height: 100px;
  }

  .slide img {
    max-width: 310px;
  }

  .slider {
    background-size: 390px;
    min-height: 750px;
    padding-top: 44px;
  }

  .slider::before {
    bottom: 268px;
  }

  .slider-nav {
    top: 350px;
  }

  .slide {
    margin: 16px auto;
    max-width: 430px;
  }

  .quote {
    line-height: 30px;
    font-size: 24px;  }

  .role, .name {
    font-size: 18px;
  }

}

@media only screen and (min-width: 1024px) {

  .testimonials {
    padding: 0;
  }

  .testimonials::after {
    height: 150px;
  }

  .slider {
    background-position: 100% 21% ;
    background-size: 640px;
    margin: 0 auto;
    min-height: 800px;
    padding-top: 0;
    position: relative;
    width: 1024px;
  }

  .slider::before {
    bottom: unset;
    height: 80px;
    left: 132px;
    position: absolute;
    top: 190px;
    transform: unset;
    width: 100px;
  }

  .slide {
    align-items: center;
    flex-direction: row-reverse;
    height: 800px;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 900px;
    padding-bottom: 100px;
    position: relative;
    width: 100%;

  }

  .slide img {
    max-width: unset;
    margin-bottom: 0;
    width: 500px;
  }

  .slide-content {
    left: 0;
    position: absolute;
    text-align: left;
    width: 478px;
  }

  .slider-nav {
    border-radius: 40px;
    bottom: 172px;
    left: 50%;
    padding: 18px 18px;
    top: unset;
    transform: translateX(40px);
    width: 110px;
  }

  .quote {
    margin-bottom: 24px;
  }

  .name, 
  .role {
    display: inline-block;
  }

  .role {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1300px) {

  .slider {
    background-position: 99% 35% ;
    background-size: 700px;
    min-height: 800px;
    width: 1300px;
  }

  .slider::before {
    height: 100px;
    left: 190px;
    top: 218px;
    width: 120px;
  }

  .slide {
    max-width: 1110px;
    padding-bottom: 34px;
    width: 100%;
  }

  .slide img {
    width: 540px;
  }

  .slide-content {
    width: 632px;
  }

  .slider-nav {
    bottom: 120px;
    left: 50%;
    transform: translateX(76px);
  }

  .quote {
    font-size: 32px;
    line-height: 44px;
    padding-top: 73px;
  }

  .name, .role {
    font-size: 20px;
  }
}