.container[data-theme="first"] {
    --t1-mainbackground: hsl(222, 26%, 31%);
    --t1-toggle-keypad-background: hsl(223, 31%, 20%);
    --t1-screen-background: hsl(224, 36%, 15%);
    --t1-key-rest-background: hsl(225, 21%, 49%);
    --t1-key-rest-shadow: hsl(224, 28%, 35%);
  
    --t1-key-orange-background-toggle: hsl(6, 63%, 50%);
    --t1-key-equal-red-shadow: hsl(6, 70%, 34%);
  
    --t1-key-number-background: hsl(30, 25%, 89%);
    --t1-key-number-shadow: hsl(28, 16%, 65%);
  
    --t1-text-blue: hsl(221, 14%, 31%);
    --t1-text-display: white;
    --t1-text-white: white;
}
  
.container[data-theme="second"] {
    --t1-mainbackground: hsl(0, 0%, 90%);
    --t1-toggle-keypad-background: hsl(0, 5%, 81%);
    --t1-screen-background: hsl(0, 0%, 93%);
    --t1-key-rest-background: rgb(26, 161, 158);
    --t1-key-rest-shadow: hsl(35, 11%, 61%);
  
    --t1-key-orange-background-toggle: hsl(25, 98%, 40%);
    --t1-key-equal-red-shadow: hsl(25, 99%, 27%);
  
  
    --t1-key-number-background: hsl(30, 25%, 89%);
    --t1-key-number-shadow: hsl(28, 16%, 65%);
  
    --t1-text-blue: hsl(60, 10%, 19%);
    --t1-text-display: hsl(60, 10%, 19%);
    --t1-text-white: hsl(60, 10%, 19%);
  
}
  
.container[data-theme="third"] {
    --t1-mainbackground: hsl(268, 75%, 9%);
    --t1-toggle-keypad-background: hsl(268, 71%, 12%);
    --t1-screen-background: hsl(268, 71%, 12%);
    --t1-key-rest-background: hsl(268, 47%, 21%);
    --t1-key-rest-shadow: hsl(290, 70%, 36%);
  
    --t1-key-orange-background-toggle: hsl(176, 100%, 44%);
    --t1-key-equal-red-shadow: hsl(177, 92%, 70%);
  
  
    --t1-key-number-background: hsl(281, 89%, 26%);
    --t1-key-number-shadow: hsl(285, 91%, 52%);
  
    --t1-text-blue: hsl(52, 100%, 62%);
    --t1-text-display: hsl(52, 100%, 62%);
    --t1-text-white: white;
  
}

body{
    background-color: var(--t1-mainbackground);
}

.main{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 25%;
    margin-bottom: 20px;
    justify-content: space-around;
}

.head{
    width: 100%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: var(--t1-text-white);
    font-family: 'Spartan', sans-serif;

}

.themes{
    width: 30%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.theme-toggle {
    width: 70px;
    height: 20px;
    background-color: var(--t1-toggle-keypad-background);
    padding: 3px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-start;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--t1-toggle-keypad-background);
    content: '';
    outline: none;
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--t1-key-orange-background-toggle);
    content: '';
    outline: none;
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}

#answer{
    width: 100%;
    height: 80px;
    background-color: var(--t1-screen-background);
    padding-top: 35px;
    padding-bottom: 25px;
    padding-right: 10px;
    border-radius: 7px;
    font-size: 55px;
    font-weight: 700;
    text-align: right;
    color: var(--t1-text-white);

}

.grid_btns{
    width: 100%;
    margin-top: 10px;
    background-color: var(--t1-toggle-keypad-background);
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-content: space-around;
    grid-gap: 25px;
    border-radius: 7px;
    
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn_0, #btn_slh, #btn_dt, #btn_pls, #btn_mns, #btn_mul{
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0px;
    border-radius: 7px;
    background-color: var(--t1-key-number-background);
    box-shadow: 0px 3px var(--t1-key-number-shadow);
    color: var(--t1-text-blue);
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
}

#btn_rest{
    grid-column: 1/ span 2;
    padding: 5px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 7px;
    color: var(--t1-text-display);
    font-family: 'Spartan', sans-serif;
    background-color: var(--t1-key-rest-background);
    box-shadow: 0px 3px var(--t1-key-rest-shadow);
    cursor: pointer;
}

#btn_eq{
    padding: 5px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 7px;
    grid-column: 3/ span 2;
    color: #ffffff;
    font-family: 'Spartan', sans-serif;
    background-color: var(--t1-key-orange-background-toggle);
    box-shadow: 0px 3px var(--t1-key-equal-red-shadow);
    cursor: pointer;
}

#btn_del{
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0px;
    border-radius: 7px;
    color: #ffffff;
    font-family: 'Spartan', sans-serif;
    background-color: var(--t1-key-rest-background);
    box-shadow: 0px 3px var(--t1-key-rest-shadow);
    cursor: pointer;
}

.grid_btns button:active {
    transform: translateY(2px);
  }

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

