:root{

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Light-Blue: hsl(233, 100%, 69%);
    --my-font: "Bai Jamjuree", sans-serif;
    --Strong-Cyan: hsl(171, 66%, 44%);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;   

}

body{
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.first{
    
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

header{
    font-size: 35px;
    font-weight: 600;
    font-family: var(--my-font);
    color: var(--Dark-Grayish-Blue);
}

.first img{
    height: 150px;
    padding: 30px;
    width: 150px;
}

h1{
    color: var(--Dark-Grayish-Blue);
    font-family: var(--my-font);
    font-weight: 600;  
}

p{
    color: var(--Grayish-Blue);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

.ios{
    border-radius: 20px;
    border: 2px;
    border-color: var(--Strong-Cyan);
    background-color: var(--Strong-Cyan);
    box-shadow: 5px 10px 20px rgb(215, 248, 248);
    color: rgba(255, 255, 255, .7);
    height: 40px;  
    margin: 20px;  
    width: 180px;
}

.ios:hover{
    background-color: hsl(171,38%, 68%);
}

.mac:hover{
    background-color: hsl(232, 36%, 78%);
}
.mac{
    border-radius: 20px;
    border: 2px;
    border-color: var(--Light-Blue);
    background-color: var(--Light-Blue);
    box-shadow: 5px 10px 20px rgb(191, 191, 241);
    color: rgba(255, 255, 255, .4);
    height: 40px; 
    margin: 20px;
    width: 180px;
    
}

.second{    
    margin-top: 125px;
    margin-left: 400px;
    text-align: center;
    width: 500px;
}

.third{   
    margin-top: 50px;
    padding-top: 30px;
    width: 100%;
}

.third img{
    display: inline;
    float: left;
    height: 400px;
    margin-left: -20px;
    margin-top: 5px;
    margin-right: 150px;
    width: 600px;   
}

#third_para{
    font-family: var(--my-font);
    font-weight: 400;   
    justify-content: left;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;   
}

h2, h3{
    color: var(--Dark-Grayish-Blue);
    font-family: var(--my-font);
    font-weight: 600;
}

.fourth{
    margin-top: 200px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}

.fifth{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.sixth{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.table_div{
    align-content: center;
    margin-top: 60px;
    padding-left: 100px;
    text-align: center;
    width: 100%;
}

tr, td{
    padding: 30px;
}

.logo_div{   
    margin-top: 100px;
    padding-left: 150px;
    text-align: center;
    width: 100%;
}

.last{   
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.footer_div{
    background-color: hsl(200, 11%, 95%);
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 40%;
    gap: 20px;
    height: 100px;
    justify-content: left;
    margin-top: 100px;
    padding-top: 30px;
    width: 100%;

}

.logo{
    text-align: center;
}

.logo img{
    height: 40px;
    width: 40px;
}

li{
    margin-top: 10px;
}

a{
    color: var(--Dark-Grayish-Blue);
    text-decoration: none;
}

a:hover{
    color: var(--Strong-Cyan);
}
.list1, .list2, .list3{  
    color: var(--Dark-Grayish-Blue);
    font-family: var(--my-font);
    list-style-type: none;
    padding-left: 30px;
}

.fa-facebook {
    color: var(--Dark-Grayish-Blue);
    margin-left: 10px;
    width: 30px;

}
  
.fa-twitter {
    color: var(--Dark-Grayish-Blue);
    margin-left: 10px;
    width: 30px;
}
 
.fa-instagram {
    color: var(--Dark-Grayish-Blue);
    margin-left: 10px;
    width: 30px;
}


