* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(235, 16%, 14%);
    font-family: "Red Hat Text", sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.stars {
    position: absolute;
}

.hills {
    position: absolute;
    bottom: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.container h1 {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.countdown div {
    margin: 10px;
}

.countdown h3 {
    color: white;
    color: hsl(237, 18%, 59%);
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 10px;
    text-transform: uppercase;
}

.countdown{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.countdown p {
    background-color: hsl(236, 21%, 26%);
    border-radius: 5px;
    color: hsl(345, 95%, 68% );
    padding: 20px;
}

.socials {
    bottom: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 999;
}

.socials ul {
    display: flex;
}

.socials ul li {
    margin: 0 20px;
}

@media (min-width: 1440px){
    .stars img,
    .hills img {
        width: 1600px;
    }
}

@media (min-width: 1600px){
    .stars img,
    .hills img {
        width: 1920px;
    }
}

