:root {
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Dark-Blue: hsl(233, 26%, 24%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --myfont: 'Public Sans', sans-serif;
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, 
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100vw;
}

nav {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    width: 100%;
}

.logo {
    height: 30px;
    width: 90px;
}

.dropdown-toggle {
    background: transparent;
    background-image: url(../images/icon-hamburger.svg);
    border: none;
    cursor: pointer;
    display: none;
    height: 20px;
    outline: none;
    width: 20px;
}

.list {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: static;
    width: 90%;
}

.list a {
    color: var(--Grayish-Blue);
    display: inline-block;
    font-family: var(--myfont);
    font-weight: 400;
    font-size: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 25px;
    text-decoration: none;
}

.list a:hover {
    border-bottom: 3px solid var(--Lime-Green);
    color: var(--Dark-Blue);
}

nav ul li {
    display: inline;
}

.req-btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: 0px;
    border-radius: 20px;
    color: var(--White);
    cursor: pointer;
    height: 35px;
    outline: none;
    width: 130px;
}

.req-btn:hover {
    filter: brightness(1.23);
}

.top-div {
    background-color: var(--Very-Light-Gray);
    background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
    background-position: right -85px top -100px, right -165px top -100px;
    background-repeat: no-repeat, no-repeat;
    background-size: 650px 700px, 900px 700px;
    height: 580px;
    padding-left: 130px;
    padding-top: 100px;
    z-index: 299;
}

.heading-1{
    color: var(--Dark-Blue);
    font-size: 50px;
    font-weight: 400;
    font-family: var(--myfont);
    margin-bottom: 30px;
}

.para{
    color: var(--Grayish-Blue);
    font-size: small;
    font-family: var(--myfont);
    margin-bottom: 30px;
}

.reason{
    background-color: var(--Light-Grayish-Blue);
    color: var(--Grayish-Blue);
    height: 650px;  
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 100px;
    width: 100%;
    z-index: 199;
}

.heading-2{
    color: var(--Dark-Blue);
    font-size: 35px;
    font-family: var(--myfont);
    font-weight: 400;
    margin-bottom: 30px;
}

.grid-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.grid-images{
    margin-bottom: 15px;
    margin-top: 15px;
}

.heading-3{
    color: var(--Dark-Blue);
    font-family: var(--myfont);
    font-size: 20px;
    margin-bottom: 30px;
}

.lst-articles {
    background-color: var(--Very-Light-Gray);
    height: 650px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 100px;
    width: 100%;
}

.grid-2-images {
    height: 200px;
    margin-bottom: 20px;
    width: 271px;
}

.currency,
.restaurant,
.plane,
.invite {
    background-color: white;
}

h6,
h3 {
    margin-bottom: 20px;
    margin-left: 10px;
}

h3 {
    color: var(--Dark-Blue);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
 
h3:hover {
    color: var(--Lime-Green);
}

.para p {
    margin-bottom: 20px;
    margin-left: 10px;
}

.footer {
    align-items: center;
    background-color: var(--Dark-Blue);
    display: grid;
    grid-template-columns: 25% 12% 12% 50%;
    height: 150px;
    padding-left: 130px;
    padding-right: 130px;
    width: 100%;
}

.footer a {
    color: var(--White);
    font-family: var(--myfont);
    text-decoration: none;
}

.social-media{
    display: grid;
    font-family: var(--myfont);
    grid-template-columns: 25px 25px 25px 25px 25px;
    grid-row-gap: 40px;
}

.social-media .logo{
    grid-column: 1/ span 6;
}

.list1 ul {
    list-style-type: none;
}

.list1 li{
    margin-bottom: 10px;
}

.list1 a:hover {
    color: var(--Lime-Green);
}

.btn{
    text-align: right;
}

.btn p{
    color: var(--Grayish-Blue);
    margin-top: 30px;
}

.attribution {
    background-color: var(--Dark-Blue);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(229, 41%, 95%);
}

@media screen and (max-width: 600px) {
    .dropdown-toggle {
      display: block;
    }

    nav {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .req-btn {
        display: none;
    }

    .list {
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 20px 20px 260px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 100px;
        width: 95%;
    }
    
    .list a {
      color: hsl(206, 37%, 13%);
      display: block;
      font-size: 22px;
    }

    .hide {
        display: none;
    }

    .top-div {
        background-image: url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
        background-position: top -80px left 40px, left 0px top -40px;
        background-size: 450px 450px, 600px 600px;
        height: auto;
        padding-left: 0px;
        padding-top: 400px;
    }

    .reason {
        height: auto;
        text-align: center;
    }

    .grid-container {
        align-items: center;
        grid-template-columns: 100%;
        height: auto;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .lst-articles {
        height: auto;
        text-align: center;
    }

    .grid-2-images {
        margin-top: 15px;
    }

    .footer {
        grid-template-columns: 100%;
        height: auto;
    }
}