body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.main {
  background: url(../images/bg-pattern-desktop.svg) top -320px left -620px no-repeat;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 120px;
  margin-left: 250px;
  margin-top: 100px;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 60%;
}

.faq {
  align-items: right;
  display: inline-block;
  width: 50%;
}

span {
  float: right;
}

.Answer {
  display: none;
}

img {
  float: left;
  margin-right: 30px;
  margin-left: -70px;
  z-index: 1;
}

#box {
  left: 255px;
  position: absolute;
  top: 265px;
  z-index: 2;
}

h1 {
  margin-top: 40px;
}

.Questions:active{
  color: hsl(14, 88%, 65%);
}

.rotating {
  transform: rotate(180deg);
}

.active_font {
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}