:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html{
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.container{
    height: 400px;
    width: 800px;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 250px 500px;
    align-content: center;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 180px;
}

.first_container{
    height: 300px;
}

.second_container{
    height: 300px;
    font-size: 13px;
    color: var(--Very-Dark-Blue);
}

.logo_container{
    height: 200px;
    background-color: var(--Dark-Blue);
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px 70px 10px 10px;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px;
    grid-column-gap: 20px;
    padding: 20px;
}
  
.grid-container > div {
    background-color: var(--Very-Dark-Blue);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 30px;
}

.gauage_container{
    height: 140px;
    background-color: var(--Dark-Blue);
    margin-top: 33px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 25px;
    border-radius: 10px;
    color: var(--Grayish-Blue);
    font-size: 20px;
    font-family: Raleway, sans-serif;
    z-index: 1;
    
}

meter{
    width: 400px;
    height: 25px;
    position: relative;  
    margin: 2px;
    color: var(--Pale-Blue);
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

meter::before{
    content: '0 GB';
    position: absolute;
    top: 30px;
}

meter::after{
    content: '1000 GB';
    position: absolute;
    top: 30px;
    right: 0;
}

meter::-webkit-meter-optimum-value {
    background: -webkit-linear-gradient(left, hsl(7, 73%, 85%), hsl(335, 100%, 65%));
}

.box{
    width: 100px;
    background: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    top: 55px;
    left: 320px;
    z-index: 30;
  }

  .triangle::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    right: 0px;
    top: 53px;
  }


