:root {
    --Dark-Blue: hsl(228, 56%, 26%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html {
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.container {
    align-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 250px 500px;
    height: 400px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 180px;
    padding: 10px;
    width: 800px;
}

.first-container {
    height: 300px;
}

.second-container {
    color: var(--Very-Dark-Blue);
    font-size: 13px;
    height: 300px;

}

.logo-container {
    align-content: center;
    background-color: var(--Dark-Blue);
    border-radius: 10px 70px 10px 10px;
    height: 200px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px;
    grid-column-gap: 20px;
    padding: 20px;
}
  
.grid-container > div {
    background-color: var(--Very-Dark-Blue);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.gauage-container {
    background-color: var(--Dark-Blue);
    border-radius: 10px;
    color: var(--Grayish-Blue);
    font-size: 20px;
    font-family: Raleway, sans-serif;
    height: 140px;
    margin-top: 33px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 25px;  
    z-index: 1;
    
}

meter {
    color: var(--Pale-Blue);
    font-size: 14px;
    font-family: Raleway, sans-serif;
    height: 25px;
    margin: 2px;
    position: relative;  
    width: 400px;
}

meter::before {
    content: '0 GB';
    position: absolute;
    top: 30px;
}

meter::after {
    content: '1000 GB';
    position: absolute;
    right: 0;
    top: 30px;
}

meter::-webkit-meter-optimum-value {
    background: -webkit-linear-gradient(left, hsl(7, 73%, 85%), hsl(335, 100%, 65%));
}

.box {
    background: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 55px;
    left: 320px;
    width: 100px;
    z-index: 30;
}

.triangle::before {
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    content: "";
    height: 0px;
    position: absolute;
    right: 0px;
    top: 53px;
    width: 0px;
 }

.attribution {
   font-size: 11px;
   text-align: center;
}
 .attribution a {
   color: hsl(228, 45%, 44%);
}

