:root{
    --btn-box-shadow: 5px 10px 20px hsl(245, 75%, 90%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --main--font: "Raleway", "sans-serif"; 
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    
}

body{
    background-repeat: no-repeat;
    max-width: 1500px;
    margin: 0px;
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;

}

nav{
    height: 60px;
    margin: 0;
    padding-left: 30px;
    padding-top: 60px;
    width: 100%;
}

ul{
    list-style-type: none;
}

nav li{
    color: rgb(37, 34, 34);
    float:right;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    margin-right: 40px;
    padding-right: 10px;
}

.first{
    background-image: url(../images/bg-curve-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    height: 600px;
    padding-left: 80px;
    margin-top: 80px;
    width: 100%;
}

.first input[type=email]{
    border: 1px solid var(--Very-Dark-Blue);
    height: 30px;
    text-align: center;
    width: 250px;
}

.first input[type=submit]{
    border: 0px;
    background-color: var(--Bright-Blue);
    height: 33px;
    padding: 4px;
    width: 180px;
}

.first input[type=submit]:hover, .access_container input[type=submit]:hover{
    background-color: hsl(224, 73%, 68%);
    font-weight: 200;
}

.first input[type=email]:focus, .access_container input[type=email]:focus{
    border: 1px solid rgb(173, 33, 33);
    outline: none;
}

.second{
    background-color: rgba(248,248,254,255);
    height: 600px;
    padding: 50px;
    padding-top: 50px;
    width: 100%;

}

.second a{
    color: var(--Bright-Blue);
    padding: 10px;
    text-decoration: underline;
}

.second a:hover{
    filter: saturate(50%);
}

.container{
    align-content: center;
    border: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--btn-box-shadow);
    color: rgb(37, 34, 34);
    height: 180px;
    margin: 30px;
    padding: 25px;   
    width: 250px;
}

.container > p{
    font-size: 15px;
}

.access_container{
    background-color: var(--Desaturated-Blue);
    color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 50% 50%;
    height: 250px;
    padding-left: 50px;
    padding-top: 50px;
    width: 100%;

}

.para_container{
    align-content: center;
}

.input_container{
    align-content: center;
    float: right;
    margin-top: 30px;
    padding-top: 30px;
}

.input_container input[type=email]{
    border: 1px solid var(--Very-Dark-Blue);
    color: hsl(0, 0%, 100%);
    height: 30px;
    width: 500px;
}

.input_container input[type=submit]{
    background-color: var(--Bright-Blue);
    border: 0px;
    color: hsl(0, 0%, 100%);
    height: 33px;
    margin-top: 10px;
    text-align: center;
    width: 180px;

}

#head{
    font-size: 30px;
    font-weight: 400;
}

.footer_container{
    background-color: var(--Very-Dark-Blue);
    color: hsl(0, 0%, 100%);
    display: grid;
    font-weight: 400;
    grid-template-columns: 25% 25% 25% 25%;
    height: 350px;
    padding-left: 50px;
    padding-top: 50px;
    width: 100%;

}

.footer_container ul{
    margin-top: 80px;
}

.footer_container ul li{
    margin: 20px;
}

.first > img, .second > img{
    padding-right: 100px;
}

h2{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

p{
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.fa {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 10px;
    height: 10px;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 10px;
  }
  
.fa:hover {
    opacity: 0.8;
}
  
.fa-facebook {
    color: white;
}
  
.fa-twitter {
    color: white;
}
  
.fa-instagram {
    color: white;
}
  