* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url("../images/index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100wh;
    overflow-x: hidden;
    width: 100vw;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
h3{
    color: rgb(255, 255, 255);
    font-weight: 750;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 230px;
    padding-top: 50px;
    width: 100vw;
}

.grid-container > div {
    background-color: hsl(204, 67%, 92%);
    border-radius: 20px;
    box-shadow: 5px 10px 20px hsl(240, 1%, 34%);
    height: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: .5;
}

a:active{
    color: rgb(26, 95, 223);
    text-shadow: 3px;
}

img{
    border-radius: 15px;
    height: 120px;
    margin-top: 15px;
    width: 90%;

}

@media only screen and (max-width: 450px) {
    .grid-container {
        gap: 20px;
        grid-template-columns: 33.3% 33.3% 33.3%;
        padding-left: 20px;
        padding-right: 70px;
        row-gap: 20px;
    }

    h2 {
        font-size: 13px;
    }
}