.container[data-theme="dark"]{
    --main-bg:hsl(230, 17%, 14%);
    --Card-BG: hsl(228, 28%, 20%);
    --Blue-Text: hsl(228, 34%, 66%);
    --Text-color: hsl(0, 0%, 100%);
    --toggle-color: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.container[data-theme="light"]{
    --main-bg:hsl(0, 0%, 100%);
    --Card-BG: hsl(227, 47%, 96%);
    --Blue-Text: hsl(228, 12%, 44%);
    --Text-color: hsl(230, 17%, 14%);
    --toggle-color: hsl(230, 22%, 74%);
}

*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg);
    background-size: cover ;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.head{
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 50px;
    color: var(--Blue-Text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: medium;
    z-index: 1;
}

.head span{
    color: var(--Text-color);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.toggle_div{
    height: 40px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;    
    color: hsl(225, 20%, 60%);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
  .toggle {
    --width: 35px;
    --height: calc(var(--width) / 2);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-image: var(--toggle-color);
    transition: all 0.4s ease-in-out;
  }

  .toggle .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 0.5);
    background-color: hsl(230, 17%, 14%);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.btn {
    background-color: hsl(230, 22%, 74%);
  }

  .toggle input:checked+.btn::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .media{
      width: 100%;
      height: 50%;
      z-index: 2;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      gap: 3%;
      padding-left: 250px;
      padding-right: 250px;
  }

  .facebook{
      background: url("../images/icon-facebook.svg") top 20px left 30px no-repeat;
      background-color: var(--Card-BG);
      display: grid;
      grid-template-rows: 25% 35% 15% 25%;
      padding: 10px;
      border-top: 4px solid hsl(208, 92%, 53%);
      border-radius: 5px;
  }

  .twitter{
    background: url("../images/icon-twitter.svg") top 20px left 30px no-repeat;
    background-color: var(--Card-BG);
    display: grid;
    grid-template-rows: 25% 35% 15% 25%;
    padding: 10px;
    border-top: 4px solid hsl(208, 92%, 53%);
    border-radius: 5px;

}

.instagram{
    background: url("../images/icon-instagram.svg") top 20px left 30px no-repeat;
    background-color: var(--Card-BG);
    display: grid;
    grid-template-rows: 25% 35% 15% 25%;
    padding: 10px;
    border-top: 4px solid hsl(329, 70%, 58%);
    border-radius: 5px;
}

.youtube{
    background: url("../images/icon-youtube.svg") top 20px left 30px no-repeat;
    background-color: var(--Card-BG);
    display: grid;
    grid-template-rows: 25% 35% 15% 25%;
    padding: 10px;
    border-top: 4px solid hsl(348, 97%, 39%);
    border-radius: 5px;

}

.name{
    margin-left: 55px;
    margin-top: 12px;
    color: var(--Blue-Text);
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    font-weight: 400;
}

.nums{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: var(--Text-color);
    text-align: center;
    font-weight: 700;
}

.followers{
    font-size: small;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
    color: var(--Blue-Text);
}

.status-green{
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    text-align: center;
    margin-top: 13px;
    color: hsl(163, 72%, 41%);
    background: url("../images/icon-up.svg") top 5px left 50px no-repeat;
   
}

.status-red{
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    text-align: center;
    margin-top: 13px;
    background: url("../images/icon-down.svg") top 5px left 50px no-repeat;
    color: hsl(356, 69%, 56%);
}

.overview{
    width: 100%;
    height: 50%;
    margin-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 50% 50%;
    gap: 3%;
}

.heading{
    margin-left: 250px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: var(--Text-color);
}

.views{
    display: grid;
    height: 100px;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: var(--Card-BG);
}


.name2{
    color: var(--Blue-Text);
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    font-weight: 400;
}

.num2{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: var(--Text-color);
}

.status_green{
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    margin-top: 13px;
    color: hsl(163, 72%, 41%);
}

.status_red{
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    margin-top: 13px;
    color: hsl(356, 69%, 56%);
}

@media screen and (max-width: 450px){

    .head{
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: left;
    }

    .toggle_div{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        justify-content: space-between;
        font-size: medium;
    }

    .media{
        grid-template-columns: 100%;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
    }

    .facebook, .twitter, .instagram, .youtube{
        width: 100%;
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .heading{
        width: 100%;
        margin-top: 100px;
        text-align: left;
        margin-left: 30px;
    }

    .facebook{
        background-position: left 100px top 20px;
    }

    .overview{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 10px;
    }
    .views{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .name{
        text-align: center;
    }

    .status-green{
        font-size: 13px;
        color: hsl(163, 72%, 41%);
        background: url("../images/icon-up.svg") top 5px left 120px no-repeat;
    }

    .status-red{
        background: url("../images/icon-down.svg") top 5px left 110px no-repeat;
        margin-right: 15px;
        color: hsl(356, 69%, 56%);   
    }

    .images, .status_green, .status_red{
        text-align: right;
        margin-right: 30px;
    }
}







