:root{
    --Soft: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main_BG: hsl(217, 54%, 11%);
    --card_BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--main_BG);
    color:   hsl(0, 0%, 60%);
    padding: 1.25rem;
}

p{
    font-weight: 300;
}

img{
    max-width: 100%;
    border-radius: 0.5rem;
}

ul{
    list-style: none;
}

.container{
    padding: 1.25rem;
    background-color: var(--card_BG);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.container .main__img{
    position: relative;
}

.container .main__img div{
    position: absolute;
    cursor: pointer;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
    opacity: 0;
}

.container .main__img div:hover{
    opacity: 1;
}

.container .main__img div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container h2{
    color: var(--White);
    margin: 1rem 0.5rem 1rem 0;
}

.container h2:hover{
    color: var(--Soft);
}

.container ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 2px solid var(--line) ;
}

.container ul li{
    display: flex;
    align-items: center;
}

.container ul li img{
    margin-right: 0.2rem;
}

.container ul li:first-child{
    color: var(--Soft);
    font-weight: 600;
}

.container .avatar{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem 0.5rem 0.5rem 0;

}

.container .avatar img{
    width: 2rem;
    border: 2px solid var(--White);
    border-radius: 50%;
    margin-right: 1rem;
}

.container .avatar p span{
    color: var(--White);
    font-weight: 400;
}

.container .avatar p span:hover{
    color: var(--Soft);
    cursor: pointer;
}

@media(min-width: 400px){
    .container{
        width: 350px;
        margin: 0 auto 1rem;
        border-radius: 1rem;
        box-shadow: 0px 12px 16px hsl(215, 96%, 9%), -10px 12px 19px hsl(215, 96%, 9%), 10px 12px 19px hsl(215, 96%, 9%);
    }
}