* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body {
  background-color: hsl(240, 78%, 98%);
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat' , sans-serif;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 4px #d4e9e9;
  margin: 8% auto;
  width: 90%;
}

.storage p {
  border-top: 1px solid black;
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 70%;
}
  
.container {
  padding-bottom: 10%;
}
  
.card input[type="button"] {
  background-color:  hsl(237, 63%, 64%);
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  height: 7vh;
  width: 75%;
}
  
.basic input[type="button"]:hover,
.master input[type="button"]:hover {
  background-color: white;  
  color:hsl(237, 63%, 64%); 
}

span.dollar {
  font-size: 0.5em;
}

.professional input[type="button"]:hover {
  background-color:hsl(237, 63%, 64%); 
  color: white;  
}
  
.professional {
  background-color:  hsl(237, 63%, 64%) ;
  color: white;  
}
  
.professional input[type="button"] {
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.professional .storage p {
  border-top: 1px solid white ;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input { 
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: hsl(237, 63%, 64%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  transition: .4s;
  top: 0;
  -webkit-transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  -webkit-transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color:  #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
}
    
.slider.round {
  border-radius: 34px;
}
    
.slider.round:before {
  border-radius: 50%;
} 
  
.pricing {
  font-size: 25px;
  font-weight: 700;
  margin: auto;
  position: relative;
  text-align: center;
}

span.monthly {
  display: block;
  font-size: 2em;
  left: 28%;
  position: absolute;
  visibility: visible;
}

span.yearly {
  display: block;
  font-size: 2em;
  margin-bottom: 8%;
  position: relative;
  visibility: hidden;
}

.swithCtl {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

p,
h2, 
h1 {
  text-align: center;
}
  
h1 {
  font-weight: 700;
  margin-bottom: 10%;
  margin-top: 15%;
}

h2 {
  padding-bottom: 3%;
  padding-top: 4%;
}

input[type="button"] {
  display: block;
  margin: auto;  
}
  
  
@media only screen and (min-width: 490px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
  }

  .basic, 
  .professional, 
  .master {
    width: 45%;
  }
}

@media only screen and (min-width: 961px){
  h1 {
    margin-bottom: 3%;
    margin-top: 3%;
  }
  
  .swithCtl {  
    justify-content: space-evenly;
    width: 35%;  
  }

  .basic, 
  .professional, 
  .master {
    width: 33%;
  }

  main {
    width: 90%;
    margin: auto;
  }

  .professional {
   height: 75vh;
   margin-top: 3%;
  }

  .professional h2 {
    margin-top: 10%;
  }

 .basic, .master {
    height: 65vh;
    margin-top: 6%;
  }

  .card input[type="button"] {  
    margin-top: 5%;
    height: 7vh;
  }

}